[Unit]
Description=Digidog Gaming Server
After=network.target

[Service]
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/java -jar /root/jars/digidog-0.0.1-ALPHA.jar server 127.0.0.1:8888
Restart=on-failure

[Install]
WantedBy=multi-user.target